.mainHeaderWrapper{
    width: 100%;
    background: #fff;
    height: 52px;
    line-height: 52px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    position: relative;
}
.nav_container{
    padding-top: 25px;
    padding-bottom: 20px;
}
.mainNavBar{
    display: flex;
    justify-content: space-evenly;
}

.subNavBar{
    display: flex;
    justify-content: space-between;
}

.searchbox_div{
    margin-right: 10px;
}
.log-in-container{
    display: flex;
}
.width-50{
    width: 50%;
}

.bg-yellow{
    background-color: #fefe61;
}

.pd-tl-10{
    padding-left: 100px;
    padding-top: 50px;
}

.height-100{
    height: 100vh;
}

.text-center{
    text-align: center;
}

.mar-auto{
    margin: auto;
}

.pad-bt-30{
    padding-bottom: 30px
}

.ht-40{
    height: 40px;
}

.email-sign-in{
    width: 50%;
    border: 2px solid;
    text-align: center;
    margin-left: 25%;
    border-radius: 6px;
    height: 34px;
    padding-top: 7px;
    cursor: pointer;
}

.pd-tp-300{
    padding-top: 300px;
}

.mar-tp-10 {
    margin-top: 20px;
}
.mt-10 {
    margin-top: 10px;
}

.mto-5 {
    margin-top: 5px;
}

.ft-size{
    font-size: 36px;
}



// STYLE TO WRAP UP THE DEMO
.search {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  * {
    outline: none;
    box-sizing: border-box;
  }
}

// SEARCH FIELD
.search__wrapper {
  position: relative;
}
.search__field {
  width: 50px;
  height: 50px;
  color: transparent;
	font-family: Lato, sans-serif;
	font-size: 1.35em;
  padding: .35em (50px) .35em 0;
  border: 1px solid transparent;
  border-radius: 0;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  &:focus {
    border-bottom-color: #ccc;
    width: 15vw;
    color: #2b2b2b;
    cursor: default;
    ~ .search__icon {
      background-color: transparent;
      cursor: pointer;
      pointer-events: auto;
		}
  }
}
.search__icon {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #e9f1f4;
  width: 50px;
  height: 50px;
	font-size: 1.35em;
  text-align: center;
  border-color: transparent;
  border-radius: 50%;
  pointer-events: none;
  display: inline-block;
  -webkit-transition: background-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;
}


// FIELD LABELING
.search__field::-webkit-input-placeholder {
  position: relative;
  top: 0;
  left: 0;
  -webkit-transition-property: top, color;
  transition-property: top, color;
  -webkit-transition-duration: .1s;
  transition-duration: .1s;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000;
  perspective: 1000;
}
.search__field:-moz-placeholder {
  position: relative;
  top: 0;
  left: 0;
  -webkit-transition-property: top, color;
  transition-property: top, color;
  -webkit-transition-duration: .1s;
  transition-duration: .1s;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000;
  perspective: 1000;
}
.search__field::-moz-placeholder {
  position: relative;
  top: 0;
  left: 0;
  -webkit-transition-property: top, color;
  transition-property: top, color;
  -webkit-transition-duration: .1s;
  transition-duration: .1s;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000;
  perspective: 1000;
}
.search__field:-ms-input-placeholder {
  position: relative;
  top: 0;
  left: 0;
  -webkit-transition-property: top, color;
  transition-property: top, color;
  -webkit-transition-duration: .1s;
  transition-duration: .1s;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000;
  perspective: 1000;
}
.search__field::-webkit-input-placeholder[style*=hidden] {
  color: darken(#e9f1f4, 30%);
  font-size: .65em;
  font-weight: normal;
  top: -(round(50px / 2.5));
  opacity: 1;
  visibility: visible !important;
}
.search__field:-moz-placeholder[style*=hidden] {
  color: darken(#e9f1f4, 30%);
  font-size: .65em;
  font-weight: normal;
  top: -(round(50px / 2.5));
  opacity: 1;
  visibility: visible !important;
}
.search__field::-moz-placeholder[style*=hidden] {
  color: darken(#e9f1f4, 30%);
  font-size: .65em;
  font-weight: normal;
  top: -(round(50px / 2.5));
  opacity: 1;
  visibility: visible !important;
}
.search__field:-ms-input-placeholder[style*=hidden] {
  color: darken(#e9f1f4, 30%);
  font-size: .65em;
  font-weight: normal;
  top: -(round(50px / 2.5));
  opacity: 1;
  visibility: visible !important;
}