.mainHeaderWrapper{
    width: 100%;
    background: #fff;
    height: 52px;
    line-height: 52px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    position: relative;
}
.mainNavBar{
    display: flex;
    justify-content: space-evenly;
}

.subNavBar{
    display: flex;
    justify-content: space-between;
}

.searchbox_div{
    margin-right: 10px;
}
.log-in-container{
    display: flex;
}
.width-50{
    width: 50%;
}

.bg-yellow{
    background-color: #fefe61;
}

.pd-tl-10{
    padding-left: 100px;
    padding-top: 50px;
}

.height-100{
    height: 100vh;
}

.text-center{
    text-align: center;
}

.mar-auto{
    margin: auto;
}

.pad-bt-30{
    padding-bottom: 30px
}

.ht-40{
    height: 40px;
}

.email-sign-in{
    width: 50%;
    border: 2px solid;
    text-align: center;
    margin-left: 25%;
    border-radius: 6px;
    height: 34px;
    padding-top: 7px;
    cursor: pointer;
}

.pd-tp-300{
    padding-top: 300px;
}

.mar-tp-10 {
    margin-top: 20px;
}